<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<parameter name="email" value="rbot.live@gmail.com"/>
	<parameter name="password" value="12345678"/>
	<classes>
		<class name="com.Logs.Right"></class>
		<!--<class name="com.Logs.RunRun"></class>
		<class name="com.ScreenShot.ScreenShot"></class>-->
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
